<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
<title>Admin - User Lists</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/css/datatables.min.css}">
<link rel="stylesheet" th:href="@{/css/datatables.bootstrap4.min.css}">
<script th:src="@{/js/datatables.min.js}"></script>
</head>
<body>
<div class="container min-vh-100" layout:fragment="content">
	<div class="container mt-3 mb-3">
		<h3 class='mb-3'>User Details</h3>
		<table id="gbuserdata" class="table" style="width: 100%">
			<thead>
				<tr>
					<th class="no-sort">#</th>
					<th class="no-sort">Name</th>
					<th class="no-sort">Email</th>
					<th class="no-sort">Phone</th>
					<th>Admin</th>
					<th>Created On</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user,iterator: ${userData}">
					<td th:text="${iterator.index + 1}"></td>
					<td th:text="${user.name}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.gsm}"></td>
					<td th:text="${user.isAdmin ? 'Yes' : 'No'}"></td>
					<td th:text="${#dates.format(user.createDateTime, 'dd MMM yyyy hh:mm a')}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script type="text/javascript" layout:fragment="pagescript">
	$(document).ready(function() {
		$('#gbuserdata').DataTable({
			stateSave: true,
			"ordering": true,
		    columnDefs: [{
		        orderable: false,
		        targets: "no-sort"
		      }]
		});
		$('.dataTables_length').addClass('bs-select');
	});
</script>
</body>
</html>