<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
<title>Admin - Validate User Entries</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/css/datatables.min.css}">
<link rel="stylesheet" th:href="@{/css/datatables.bootstrap4.min.css}">
<script th:src="@{/js/datatables.min.js}"></script>
</head>
<body>
<div class="container min-vh-100" layout:fragment="content">
	<div class="container mt-3 mb-3">
		<div id="gb-alert-div-error" class="alert alert-danger" role="alert"></div>
		<div id="gb-alert-div-success" class="alert alert-success" role="alert"></div>
		<h3 class='mb-3'>Invitation Lists</h3>
		<table id="gbdata" class="table" style="width: 100%">
			<thead>
				<tr>
					<th class="no-sort">#</th>
					<th class="no-sort">User Name</th>
					<th class="no-sort">User Info (email/phone)</th>
					<th class="no-sort">Entries</th>
					<th>Created On</th>
					<th class="no-sort">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="gb,iterator: ${gbData}">
					<td th:text="${iterator.index + 1}"></td>
					<td th:text="${gb.name}"></td>
					<td th:text="${gb.email} + '/' + ${gb.gsm}"></td>
					<td>
						<a href="javascript:void(0);" class="invite-image" th:if="${gb.card != null}" 
							data-type="image" th:data-content="${gb.card}"
							th:data-posted="${#dates.format(gb.invite_create_dt, 'dd MMM yyyy hh:mm a')}">
							Click here to view
						</a>
						<a href="javascript:void(0);" class="invite-text" th:unless="${gb.card != null}" 
							data-type="text" th:data-content="${gb.message}"
							th:data-posted="${#dates.format(gb.invite_create_dt, 'dd MMM yyyy hh:mm a')}">
							Click here to view
						</a>
					</td>
					<td th:text="${#dates.format(gb.invite_create_dt, 'dd MMM yyyy hh:mm a')}"></td>
					<td>
						<button th:if="${gb.is_approved == false}" type="button" class="accept_invite btn btn-light"
							th:data-id="${gb.invite_id}" th:data-uid="${gb.uid}" data-status="approve">
							Approve an entry
						</button>
						<button th:unless="${gb.is_approved == false}" type="button" class="reject_invite btn btn-secondary"
							th:data-id="${gb.invite_id}" th:data-uid="${gb.uid}" data-status="decline">
							Reject an entry
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div id="dummyModal" role="dialog" class="modal fade" layout:fragment="modeldialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" data-dismiss="modal" class="close">&times;</button>
			</div>
			<div class="modal-body">
				<img src="" id="imagepreview" class="rounded mx-auto d-block" >
				<p id="textpreview"></p>
			</div>
			<div class="modal-footer">
				<small id="invitePosted" class="text-right font-weight-bold">Posted on: </small>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" layout:fragment="pagescript">
	$(document).ready(function() {
		$('#gb-alert-div-error').hide();
		$('#gb-alert-div-success').hide();
		$('#gbdata').DataTable({
			stateSave: true,
			"columnDefs": [{ targets: 'no-sort', orderable: false }]
		});
		$('.dataTables_length').addClass('bs-select');
		$("#gbdata").on("click", ".invite-text, .invite-image", function() {
			var contentType = $(this).data('type');
			$('#imagepreview').attr("src", "");
			$('#textpreview').html("");
			if (contentType == 'image') {
				$('#imagepreview').attr("src", $(this).data("content"));
				$('#imagepreview').css({
					"width" : "400px",
					"height" : "auto"
				});
			} else {
				$('#textpreview').html($(this).data("content"));
			}
			var postedDate = $(this).data("posted");
			$('#invitePosted').html("Posted on: " + postedDate);
			$('#dummyModal').modal('show');
		});
		$("#gbdata").on("click", ".accept_invite, .reject_invite", function() {
			var status = $(this).data("status");
			var inviteId = $(this).data("id");
			var userId = $(this).data("uid");
			
		$.get("http://localhost:8099/api/gb/confirm/invite/"
						+ $(this).data("id") + "/"
						+ $(this).data("uid") + "/"
						+ $(this).data("status"),
				function(data, status) {
					if(status == "success" && data.status.toLowerCase() == "success") {
						$('#gb-alert-div-success').html("");
						$('#gb-alert-div-success').html(data.message);
						$('#gb-alert-div-error').hide();
						$("#gb-alert-div-success").fadeTo(2000, 500).slideUp(500, function() {
							$("#gb-alert-div-success").slideUp(500);
							location.reload();
						});
					} else {
						$("#gb-alert-div-error").html("");
						$("#gb-alert-div-error").html("Something wents wrong. please refresh and try again!");
						$('#gb-alert-div-success').hide();
						$("#gb-alert-div-error").fadeTo(2000, 500).slideUp(500, function() {
							$("#gb-alert-div-error").slideUp(500);
							location.reload();
						});
					}
				});
			});
		});
</script>
</body>
</html>