<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
<title>GB - Create an entry</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container min-vh-100" layout:fragment="content">
	<div class="row py-5 mt-4 align-items-center">
		<div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
			<form autocomplete="off" th:action="@{/user/create/invite}" th:object="${invitation}" method="post"
				class="needs-validation form-horizontal" enctype="multipart/form-data" role="form">
				<input type="hidden" id="userId" name="userId" th:value="${userId}">
				<div id="gb-alert-div-success" th:if="${successMessage}" class="alert alert-success" role="alert" th:utext="${successMessage}"></div>
				<div id="gb-alert-div-error" th:if="${errorMessage}" class="alert alert-danger" role="alert" th:utext="${errorMessage}"></div>
				<div class="row">
					<!-- Invitation Card -->
					 <div class="input-group col-lg-12 mb-4 shadow-none p-3 mb-2 bg-light rounded">
					 	<label for="validationCard">Entry Card</label>
					 	<div class="input-group">
							<div class="custom-file">
								<input type="file" class="custom-file-input" id="file" name="file"  accept="image/png, image/jpeg, image/jpg, image/gif">
								<label class="custom-file-label" for="file">Choose file</label>
							</div>
						</div>
					</div>
					<h4 class="text-center pb-3 font-italic text-secondary">Or..</h4>
					 <div class="input-group col-lg-12 mb-4 shadow-none p-3 mb-2 bg-light rounded">
					 	<label for="validationMessage">Entry Message</label>
					 	<div class="input-group">
							<textarea class="form-control" id="message" name="message" rows="5"></textarea>
						</div>
					</div>
				</div>
				<div class="form-group col-lg-12 mx-auto mb-0">
					<button type="submit" class="btn btn-dark btn-lg py-2">Create your entry</button>
					<button id="resetform" type="button" class="btn btn-dark btn-lg py-2">Clear</button>
				</div>
			</form>
		</div>
		<div class="col-md-7 col-lg-6 ml-auto">
			<h1 class="text-center pb-5 text-secondary">Create your entry</h1>
			<img th:src="@{/images/invite.png}" alt="" class="img-fluid mb-3 d-none d-md-block">
		</div>
	</div>
</div>
<script type="text/javascript" layout:fragment="pagescript">
	$('#file').on('change', function() {
		var fileName = $(this).val();
		$(this).next('.custom-file-label').html(fileName);
		$('#message').attr("disabled", true);
	})
	$('#message').on('change', function() {
		$('#file').attr("disabled", true);
	})
	$("#resetform").click(function() {
		$('#file').attr("disabled", false);
		$('#file').val("");
		$('.custom-file-label').html("Choose file");
		$('#message').attr("disabled", false);
		$('#message').val("");
	})
	$(document).ready(function() {
		$("#gb-alert-div-error").fadeTo(2000, 500).slideUp(500, function() {
			$("#gb-alert-div-error").slideUp(500);
		});
		$("#gb-alert-div-success").fadeTo(2000, 500).slideUp(500, function() {
			$("#gb-alert-div-success").slideUp(500);
		});
	});
</script>
</body>
</html>