<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
<title>GB - Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container min-vh-100" layout:fragment="content">
	<div class="container mt-3 mb-3" th:if="${invitationLists != null}">
		<div class="list-group">
			<div th:if="${errmsg} == true" id="gb-alert-div" class="alert alert-danger m-3 align-items-center" role="alert">
				No such entry found. Please contact administrator.
			</div>
			<h2>Your entry Lists</h2>
			<div id="gb-event-div-error" class="alert alert-danger" role="alert"></div>
			<div id="gb-event-div-success" class="alert alert-success" role="alert"></div>
			<a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-start" 
				th:each="invitation: ${invitationLists}">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">
						<button th:data-id="${invitation.inviteId}" type="button" class="redirect-to-modify btn btn-light btn-sm">Modify</button>
						<button th:data-id="${invitation.inviteId}" th:data-uid="${userId}" type="button" class="delete-event btn btn-light btn-sm">Delete</button>
					</h5>
					<small th:text="${#dates.format(invitation.createDateTime, 'dd MMM yyyy')}"></small>
				</div>
				<p class="mb-1" th:if="${invitation.message == null}">
					<img th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(invitation.eventImage)}}" alt=""
						class="invite-image img-thumbnail handle-encoding-img" data-type="image"
						th:data-posted="${#dates.format(invitation.createDateTime, 'dd MMM yyyy hh:mm a')}">
				</p>
				<p class="mb-1 invite-text" th:unless="${invitation.message == null}"
					th:text="${#strings.abbreviate(invitation.message, 200)}"
					th:data-posted="${#dates.format(invitation.createDateTime, 'dd MMM yyyy hh:mm a')}" data-type="text"
					th:data-content="${invitation.message}"></p>
				<small class="float-right font-weight-bold text-secondary" th:text="${invitation.isApproved ? 'Entry Approved' : 'Admin may soon approve'}"></small>
			</a>				
		</div>
	</div>
	<div class="container" th:unless="${invitationLists != null}">
		<h1 class="display-4 text-center text-secondary">Spread joy with online entries</h1>
		<img th:src="@{/images/welcome.png}" alt="" class="img-fluid m-3 align-items-center">
	</div>
</div>

<div id="dummyModal" role="dialog" class="modal fade" layout:fragment="modeldialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" data-dismiss="modal" class="close">&times;</button>
			</div>
			<div class="modal-body">
				<img src="" id="imagepreview" class="rounded mx-auto d-block" >
				<p id="textpreview"></p>
			</div>
			<div class="modal-footer">
				<small id="invitePosted" class="text-right font-weight-bold">Posted on: </small>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" layout:fragment="pagescript">
	$('document').ready(function() {
		$('#gb-event-div-error').hide();
		$('#gb-event-div-success').hide();
		$('.invite-image').css({
			'width' : '200px',
			'height' : 'auto'
		});
		$('.invite-text, .invite-image').click(function() {
			var contentType = $(this).data('type');
			$('#imagepreview').attr("src", "");
			$('#textpreview').html("");
			if (contentType == 'image') {
				$('#imagepreview').attr("src", $(this).attr("src"));
				$('#imagepreview').css({
					"width" : "400px",
					"height" : "auto"
				});
			} else {
				$('#textpreview').html($(this).data("content"));
			}
			var postedDate = $(this).data("posted");
			$('#invitePosted').html("Posted on: " + postedDate);
			$('#dummyModal').modal('show');
		});
		
		$("#gb-alert-div").fadeTo(2000, 500).slideUp(500, function() {
			$("#gb-alert-div").slideUp(500);
		});
		
		$(".redirect-to-modify").click(function() {
			var url = location.protocol + "//" + $(location).attr('host') + "/user/modify/invite/" + $(this).data('id');
			$(location).attr('href', url);
		});
		
		$(".delete-event").click(function() {
			if (confirm("Are you sure you want to delete?")) {
				$.get("http://localhost:8099/api/gb/confirm/invite/"
						+ $(this).data("id") + "/"
						+ $(this).data("uid") + "/delete",
				function(data, status) {
					if(status == "success" && data.status.toLowerCase() == "success") {
						$('#gb-event-div-success').html("");
						$('#gb-event-div-success').html(data.message);
						$('#gb-event-div-error').hide();
						$("#gb-event-div-success").fadeTo(2000, 500).slideUp(500, function() {
							$("#gb-event-div-success").slideUp(500);
							location.reload();
						});
					} else {
						$("#gb-event-div-error").html("");
						$("#gb-event-div-error").html("Something wents wrong. please refresh and try again!");
						$('#gb-event-div-success').hide();
						$("#gb-event-div-error").fadeTo(2000, 500).slideUp(500, function() {
							$("#gb-event-div-error").slideUp(500);
							location.reload();
						});
					}
				});
			}
			return false;
		});
	});
</script>
</body>
</html>