<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
<title>GB - Modify your invitation</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container min-vh-100" layout:fragment="content">
	<div class="row py-5 mt-4 align-items-center" th:if="${invite != null}">
		<div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
			<form autocomplete="off" th:action="@{/user/modify/invite} + '/' + ${invite.inviteId}" th:object="${invitation}" method="post"
				class="needs-validation form-horizontal" enctype="multipart/form-data" role="form">
				<input type="hidden" id="inviteId" name="inviteId" th:value="${invite.inviteId}" />
				<input type="hidden" id="userId" name="userId" th:value="${invite.userEntity.id}" />
				<div id="gb-alert-div-success" th:if="${successMessage}" class="alert alert-success" role="alert" th:utext="${successMessage}"></div>
				<div id="gb-alert-div-error" th:if="${errorMessage}" class="alert alert-danger" role="alert" th:utext="${errorMessage}"></div>
				<div class="row">
					<div class="input-group col-lg-12 mb-4 shadow-none p-3 mb-2 bg-light rounded">
					 	<label for="validationCard">Entry Card</label>
					 	<div class="input-group">
							<div class="custom-file">
								<input type="file" class="custom-file-input" id="file" name="file" th:disabled="${invite.card != null ? 'false' : 'true'}">
								<label class="custom-file-label" for="file">Choose file</label>
							</div>
						</div>
					</div>
					<h4 class="text-center pb-3 font-italic text-secondary">Or..</h4>
					<div class="input-group col-lg-12 mb-4 shadow-none p-3 mb-2 bg-light rounded">
					 	<label for="validationMessage">Entry Message</label>
					 	<div class="input-group">
							<textarea class="form-control" id="message" name="message" rows="5" th:text="${invite.message}" th:disabled="${invite.message != null ? 'false' : 'true'}"></textarea>
						</div>
					</div>
				</div>
				<div class="form-group col-lg-12 mx-auto mb-0">
					<button type="submit" class="btn btn-dark btn-lg py-2">Modify</button>
				</div>
			</form>
		</div>
		<div class="col-md-7 col-lg-6 ml-auto" th:if="${invite.message == null}">
			<h1 class="text-center pb-5 text-secondary">Your entry card</h1>
			<img th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(invitation.eventImage)}}" alt="" class="img-fluid mb-3 d-none d-md-block">
		</div>
		<div class="col-md-7 col-lg-6 ml-auto" th:unless="${invite.message == null}">
			<h1 class="text-center pb-5 text-secondary">Modify your entry</h1>
			<img th:src="@{/images/invite.png}" alt="" class="img-fluid mb-3 d-none d-md-block">
		</div>
	</div>
</div>
<script type="text/javascript" layout:fragment="pagescript">
	$('#file').on('change', function() {
		//get the file name
		var fileName = $(this).val();
		//replace the "Choose a file" label
		$(this).next('.custom-file-label').html(fileName);
	})
	$(document).ready(function() {
		$("#gb-alert-div-error").fadeTo(2000, 500).slideUp(500, function() {
			$("#gb-alert-div-error").slideUp(500);
		});
		$("#gb-alert-div-success").fadeTo(2000, 500).slideUp(500, function() {
			$("#gb-alert-div-success").slideUp(500);
		});
	});
</script>
</body>
</html>