<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
<title>GB - About Us</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container min-vh-100" layout:fragment="content">
	<div class="container mt-3 mb-3">
		<h2>About Us</h2>
		<p>Praesent dapibus, neque id cursus faucibus, tortor neque
			egestas augue, eu vulputate magna eros eu erat. Aliquam erat
			volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis
			luctus, metus</p>
		<div class="bd-callout bd-callout-warning">
			<h5>Aliquam tincidunt mauris eu risus</h5>
			<p>Pellentesque habitant morbi tristique senectus et netus et
				malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat
				vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit
				amet quam egestas semper. Aenean ultricies mi vitae est. Mauris
				placerat eleifend leo. Quisque sit amet est et sapien ullamcorper
				pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae,
				ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt
				condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac
				dui. Donec non enim in turpis pulvinar facilisis. Ut felis.
				Praesent dapibus, neque id cursus faucibus, tortor neque egestas
				augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam
				dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
		</div>
		<div class="list-group">
			<a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Elit non mi porta</h5>
					<small>1 days ago</small>
				</div>
				<p class="mb-1">Donec id elit non mi porta gravida at eget
					metus. Maecenas sed diam eget risus varius blandit.</p> 
					<small>Donecid elit non mi porta.</small>
			</a> 
			<a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Fames ac turpis egesta</h5>
					<small class="text-muted">3 days ago</small>
				</div>
				<p class="mb-1">
					Pellentesque habitant morbi tristique senectus et netus et
					malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat
					vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit
					amet quam egestas semper.</p> 
					<small> Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</small>
			</a> 
			<a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Tempor sit amet</h5>
					<small class="text-muted">5 days ago</small>
				</div>
				<p class="mb-1">Vestibulum tortor quam, feugiat vitae,
					ultricies eget, tempor sit amet, ante. Donec eu libero sit amet
					quam egestas semper.</p> 
					<small class="text-muted">Tristique senectus et netus.</small>
			</a>
		</div>
	</div>
</div>
</body>
</html>