<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
<title>GB - Error</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>	
<div class="container min-vh-100" layout:fragment="content">
	<div class="container mt-3 mb-3">
		<h2 class="text-center">We are sorry..</h2>
		<p class="text-center">The page you are trying to access has restricted access.</p>
		<p class="text-center">Please refer to you system administrator.</p>
		<p class="text-center"><a class="btn btn-secondary" th:href="@{/}" role="button">Go back to Home</a></p>
	</div>
</div>
</body>
</html>