<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
<title>GB - Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container min-vh-100" layout:fragment="content">
	<div class="row py-5 mt-4 align-items-center">
		<div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
			<h3 class="card-title text-center pb-5">Sign into your account</h3>
			<form autocomplete="off" th:action="@{/login}" method="post" class="needs-validation form-horizontal" role="form">
				<div id="gbloginmsg" th:if="${param.error}" class="alert alert-danger" role="alert">
					Email or Password invalid, please verify!
				</div>
				<div class="row">
					<!-- Email -->
					 <div class="input-group col-lg-12 mb-4">
					 	<label for="validationCustomUsername">Email address</label>
					 	<div class="input-group">
							<input type="email" class="form-control" id="email" name="email" placeholder="email@example.com" required/>
						</div>
					</div>
					
					<!-- Password -->
					<div class="input-group col-lg-12 mb-4">
					 	<label for="validationCustomUsername">Password</label>
					 	<div class="input-group">
							<input type="password" class="form-control" id="password" name="password" placeholder="********" required/>
						</div>
					</div>
				</div>
				<div class="form-group col-lg-12 mx-auto mb-0">
					<button type="submit" class="btn btn-dark btn-block py-2">Sign In</button>
				</div>
			</form>
		</div>
		<div class="col-md-7 col-lg-6 ml-auto">
			<img th:src="@{/images/log-reg.png}" alt="" class="img-fluid mb-3 d-none d-md-block">
		</div>
	</div>
</div>
<script type="text/javascript" layout:fragment="pagescript">
	$(document).ready(function() {
		$("#gbloginmsg").fadeTo(2000, 500).slideUp(500, function() {
			$("#gbloginmsg").slideUp(500);
		});
	});
</script>
</body>
</html>