<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>GB - Sign Up</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<!-- Header -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarTogglerDemo03"
			aria-controls="navbarTogglerDemo03" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" th:href="@{/}">GuestBook</a>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/about}">About Us</a></li>
			</ul>
			<div class="div-inline my-2 my-lg-0">
				<a class="btn btn-light" th:href="@{/login}" role="button">Go To Login Page</a>
			</div>
		</div>
	</nav>
	<!-- Header -->
	
	<div class="container min-vh-100">
		<div class="row py-5 mt-4 align-items-center">
			<div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
				<img th:src="@{/images/log-reg.png}" alt="" class="img-fluid mb-3 d-none d-md-block">
				<h1 class="text-center pb-5">Create an Account</h1>
			</div>
			<div class="col-md-7 col-lg-6 ml-auto">
				<form autocomplete="off" th:action="@{/registration}" th:object="${user}" method="post" 
					class="needs-validation form-horizontal" role="form">
					<div id="gb_reg_msg" th:if="${successMessage}" class="alert alert-success" role="alert" th:utext="${successMessage}"></div>
					<div class="row">
						<!-- Name -->
						 <div class="input-group col-lg-12 mb-4">
						 	<label for="validationCustomName">Name</label>
						 	<div class="input-group">
								<input type="text" class="form-control" th:field="*{name}" placeholder="John Doe" required>
								<div class="text-danger input-group" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
							</div>
						</div>
						
						<!-- Email -->
						 <div class="input-group col-lg-12 mb-4">
						 	<label for="validationCustomEmail">Email address</label>
						 	<div class="input-group">
								<input type="email" class="form-control" th:field="*{email}" placeholder="email@example.com" required/>
								<div class="text-danger input-group" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
							</div>
						</div>
						
						<!-- Phone -->
						 <div class="input-group col-lg-12 mb-4">
						 	<label for="validationCustomPhone">Phone number</label>
						 	<div class="input-group">
								<input type="text" class="form-control" th:field="*{gsm}" placeholder="9XXXXXXXXX" required/>
								<div class="text-danger input-group" th:if="${#fields.hasErrors('gsm')}" th:errors="*{gsm}"></div>
							</div>
						</div>
						
						<!-- Password -->
						 <div class="input-group col-lg-12 mb-4">
						 	<label for="validationCustomPassword">Password</label>
						 	<div class="input-group">
								<input type="password" class="form-control" th:field="*{password}" placeholder="********" required/>
								<div class="text-danger input-group" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="invalidCheck" required> 
							<label class="form-check-label" for="invalidCheck"> Agree to terms and conditions </label>
						</div>
					</div>
					<div class="form-group col-lg-12 mx-auto mb-0">
						<button type="submit" class="btn btn-dark btn-block py-2">Create your account</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<!-- Footer -->
	<footer class="page-footer font-small bg-light" style="background-color: #e3f2fd;">
		<div class="footer-copyright text-center py-3">
			&copy; GuestBook 2020
		</div>
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	</footer>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#gb_reg_msg").fadeTo(2000, 500).slideUp(500, function() {
				$("#gb_reg_msg").slideUp(500);
				var url = location.protocol + "//" + $(location).attr('host') + "/login";
				$(location).attr('href', url);
			});
		});
	</script>
	<!-- Footer -->
</body>
</html>