<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
<title>GB - Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container min-vh-100" layout:fragment="content">
	<div class="container">
		<div th:if="${errmsg} == true" id="gb-alert-div" class="alert alert-danger m-3 align-items-center" role="alert">
			Something went wrong. Please try login again!
		</div>
		<h1 class="display-4 text-center text-secondary">Spread joy with online entries</h1>
	</div>
	<img th:src="@{/images/welcome.png}" alt="" class="img-fluid m-3 align-items-center">
</div>
<script type="text/javascript" layout:fragment="pagescript">
	$(document).ready(function() {
		$("#gb-alert-div").fadeTo(2000, 500).slideUp(500, function() {
			$("#gb-alert-div").slideUp(500);
		});
	});
</script>
</body>
</html>